{% extends "diary/layout.html" %}
{% load static %}
{% block title %} PickDiary {% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
			$(".content_input").show(); //페이지를 로드할 때 표시할 요소
			$(".view_comment_icon").show();
			$(".mydiary_comment").hide(); //페이지를 로드할 때 숨길 요소
			$(".view_diary_icon").hide();
			$(".view_comment_icon").click(function(){
				$ (".view_comment_icon").hide();
				$ (".content_input").hide(); //클릭 시 첫 번째 요소 숨김
				$ (".view_diary_icon").show();
				$ (".mydiary_comment").show(); //클릭 시 두 번째 요소 표시
			return false;
			});
			$(".view_diary_icon").click(function(){
				$ (".view_diary_icon").hide();
				$ (".mydiary_comment").hide(); //클릭 시 첫 번째 요소 숨김
				$ (".view_comment_icon").show();
				$ (".content_input").show(); //클릭 시 두 번째 요소 표시
			return false;
			});
		});
</script>
<script type="text/javascript">
	$(function(){
	  var hover1 = $('.hover1');
	  var hover2 = $('.hover2');
	  var hover3 = $('.hover3');
	  hover1.hover(function(){
	    hover1.css('font-size','30px');
	    hover1.css('color','#B90000');
	  },function(){
	    hover1.css('font-size','25px');
	    hover1.css('color','black');
	  });
	  hover2.hover(function(){
	    hover2.css('font-size','30px');
	    hover2.css('color','#B90000');
	  },function(){
	    hover2.css('font-size','25px');
	    hover2.css('color','black');
	  });
	  hover3.hover(function(){
	    hover3.css('font-size','30px');
	    hover3.css('color','#B90000');
	  },function(){
	    hover3.css('font-size','25px');
	    hover3.css('color','black');
	  });
	});
</script>
<script type="text/javascript">
	var diary_id_list = [1,2,3]; //사용자의 다이어리 id 목록을 받아옴
	var temp_id_list = [1,2,3]; 

	var show_diary_id = diary_id_list[diary_id_list.length-1]; 
	temp_id_list.splice(show_diary_id-1, 1);
	var not_show_diary_id_list = temp_id_list;
	function show(show_id){
		document.getElementById(show_id).className='visiblediv';
	}
	
	function hidden(not_show_id_array){
		for(var index=0; index < not_show_id_array.length; index++){
			document.getElementById(not_show_id_array[index]).className='hiddendiv';
		}
	}
	function view_pick_diary(){
		show(show_diary_id);
		hidden(not_show_diary_id_list);
	}
	function left_btn_click() {
		if(show_diary_id==1) {
			alert("더 이상 못 넘겨요ㅠㅠ");
		}
		else {
			show_diary_id--;
			var for_temp_id_list = [1,2,3];
			for_temp_id_list.splice(show_diary_id-1, 1);
			not_show_diary_id_list = for_temp_id_list;
			show(show_diary_id);
			hidden(not_show_diary_id_list);
		}
	}
	function right_btn_click() {
		if(show_diary_id==diary_id_list[diary_id_list.length-1]){
			alert("더 이상 못 넘겨요ㅜㅜ");
		}
		else{
			show_diary_id++;
			var for_temp_id_list = [1,2,3];
			for_temp_id_list.splice(show_diary_id-1, 1);
			var not_show_diary_id_list = for_temp_id_list;
			show(show_diary_id);
			hidden(not_show_diary_id_list);
		}
	}
</script>
<body onload="view_pick_diary()" class="main_footer_wrap">
{% endblock %}
							{% block highlight %}
							<span class="pick_write"><a href="../writediary">일기 쓰기</a></span>
							<span class="pick_mydiary"><a href="../mydiary">내 일기장</a></span>
							<span class="pick_pick menu_highlight">뜯어온 일기장</span>
							<span class="pick_exchange"><a href="../groupdiary/all">교환 일기장</a></span>
							<span class="pick_setup"><a href="../setting">설정</a></span>
							<span class="pick_logout"><a href="#">로그아웃</a></span>
							{% endblock %}

		{% block main%}
		<!-- 첫번째 뜯어온 일기 -->
		{% for pickpost in pickposts %}
		<div class="main_footer_wrap" id="1">
			<main>
				<div class="main_wrap">
					<div class="left_arrow_wrap main_common">
						<button id="left_btn" onclick="left_btn_click()"><i class="fas fa-angle-left fa-7x"></i></button>
					</div>
					<div class="diary_wrap main_common">
						<div class="title_input clearfix">
							<div class="view_mydiary_title">
								{{ pickpost.title }}
							</div>
							<div class="view_mydiary_category_wrap">
								<span>
									#{{ pickpost.category.C_name }}
								</span>
								<span>
									#{{ pickpost.username }}
								</span>&nbsp;
								<span>
									<img src="{% static 'img/cloud_color.png' %}" alt="" width="25px" height="25px">
								</span>
								<span class="pickdiary_emotion_img">
									<img src="{% static 'img/sleepy_color.png' %}" alt="" width="25px" height="25px"> :
								</span>
							</div>
						</div>
						
						<div class="pick_diary_date_input">
							<span>{{ pickpost.published|date:"Y" }}년 </span>
							<span>{{ pickpost.published|date:"m" }}월 </span>
							<span>{{ pickpost.published|date:"d" }}일</span>
						</div>
						<!-- 사진 안나옴 -->
							<div class="pick_diary_image_input">
							{% if pickpost.photo %}
							<img src="{{ pickpost.photo.url }}">
							{% endif %}
							
						</div>
						<div class="view_mydiary_func">
							<span class="view_comment_icon hover1">
								<i class="far fa-comment-alt"></i>
								댓글 보기
							</span>
							<span class="view_diary_icon hover2">
								<i class="far fa-eye"></i>
								일기 보기
							</span>
							<span class="hover3">
								<form method="POST" action="../remove" >{% csrf_token %}
									<input type="hidden" name="remove_id" value="{{pickpost.id}}" />
								<i class="fas fa-eraser"></i>
									<input type="submit" value="지우기" />
								</form>
							</span>
						</div>
						<div class="content_input">
							<form id="paper" method="get" action="">
								<textarea placeholder="일기 내용" id="text" name="text" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 400px;" disabled>{{ pickpost.content }}</textarea>  
								<br>
							</form>
						</div>
						<div class="comment_input_wrap">
							<table class="comment_table mydiary_comment">
								<tr class='row'>
									<td class="diary_nickname">닉네임</td>
									<td class="comment_content">댓글 내용</td>
									<td class="view_diary_comment_func">
										<form name="comment_form" action="" method="POST">
											<button class="view_diary_comment_func_button"><i class="fas fa-times"></i></button>
										</form>
									</td>
								</tr>
								{% for key, value in comments.items %}
									{% if key == pickpost.id %}
										{% for tmp_comments in value %}
											{% for comment in tmp_comments %}
								
								<tr class='row'>
									<td class="diary_nickname">{{comment.author}}</td>
									<td class="comment_content">{{ comment.content }}</td>
									<td class="view_diary_comment_func">
										<form name="comment_form" action="" method="POST">{% csrf_token %}
											<button class="view_diary_comment_func_button"><i class="fas fa-times"></i></button>
										</form>
									</td>
								</tr>
											{% endfor %}
										{% endfor %}
									{% endif %}
								{% endfor %}
							</table>
						</div>
					</div>
					<div class="right_arrow_wrap main_common">
						<button id="right_btn" onclick="right_btn_click()"><i class="fas fa-angle-right fa-7x"></i></button>
					</div>
				</div>
			</main>
		</div>
		{% endfor %}	
		
		{% endblock %}