{% load static %}
<html lang = "ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 ERROR</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="main_404_wrap">
		<div class="text_404_wrap">
			<div class="text_404 error_404">ERROR ROUTE</div>
			<br>
			<div class="text_404">죄송합니다. 로그인을 하고 난 뒤에 이용할 수 있는 페이지입니다.</div>
			<div class="text_404">로그인을 먼저 해주세요.</div>
			<br>
			<a class="to_login" href="">로그인 하러가기</a>
		</div>
	</div>
</body>