{% load static %}
<!-- 교환 일기장 눌렀을 때 보이는 메인화면 -->
<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>교환 일기장</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(
      function () {
        var time = 10;
        var timeOrigin = time;
        var hour = parseInt(timeOrigin / 3600);

        timeOrigin = timeOrigin % 3600;
        var min = parseInt(timeOrigin / 60);
        var second = timeOrigin % 60;

        $(".exdi_time").text(hour + " : " + min + " : " + second);
        var timer = setInterval(function () {
          time--;
          var timeOrigin = time;
          var hour = parseInt(timeOrigin / 3600);
          timeOrigin = timeOrigin % 3600;
          var min = parseInt(timeOrigin / 60);
          var second = timeOrigin % 60;
          $(".exdi_time").text(hour + " : " + min + " : " + second);
          if (time == 0) {
            $(".exdi_time").text("피드에서 사라져야 함");
            clearInterval(timer);
          }
        }, 1000)
      });
  </script>

</head>

<body>
  <div class="wrap">
    <header>
      <div class="header_wrap clearfix">
        <div class="logo">LANDI</div>
        <div class="menu">
          <div class="menu_content clearfix">
            <div class="mydiary">
              <a href="{% url 'ViewMydiary' %}">내 일기장</a>
            </div>
            <div class="pick">
              <a href="">뜯어온 일기장</a>
            </div>
            <div class="exchange">
              <a href="">교환 일기장</a>
            </div>
            <div class="setup">
              <a href="">설정</a>
            </div>
            <div class="logout">
              <a href="">로그아웃</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="main_footer_wrap">
      <main>
        <div class="exdi_main_wrap clearfix">
          <div class="exdi_main_common total_left_wrap">
            <div class="exdi_main_common left_wrap">
              <div class="left_arrow">
                <a href="">
                  <i class="fas fa-angle-left fa-7x"></i>
                </a>
              </div>
            </div>

            <div class="exdi_main_common feed_wrap">
              <div class="search_button">
                교환 일기장 검색 :
                <input type="text" size="50" placeholder="옆에 검색 버튼 누르면 검색뷰로" class="search_input">
                <button class="exdi_diary_button">검색</button>
              </div>

              <div class="exdi_diary_wrap ">
                <div class="title_input">
                  <div class="main_exdi_title">
                    <div class="exdi_title">
                      일기 제목
                    </div>
                    <div class="exdi_time">
                      남은 시간 23:10
                    </div>
                  </div>
                </div>
                {% for post in posts %} {{post.title}} {{post.content}} {% endfor %}
                <div class="user_input">
                  "????"의 일기(익명 아닐 때에만 나타남)
                </div>
                <div class="view_mydiary_category_wrap">
                  <span>
                    #그룹2 교환 일기장
                  </span>
                  <span>
                    #
                    <i class="far fa-meh"></i>
                  </span>
                  <span>
                    #
                    <i class="fas fa-sun"></i>
                  </span>
                </div>
                <div class="date_input">
                  날짜 :
                  <span>2018년 </span>
                  <span>7월 </span>
                  <span>28일</span>
                </div>
                <div class="image_input">

                </div>
                <div class="diary_func">
                  <a href="">
                    <span>
                      <i class="fas fa-cut"></i>
                      뜯어가기
                    </span>
                  </a>
                  <a href="">
                    <span>
                      <i class="far fa-comment"></i>
                      댓글 달기
                    </span>
                  </a>
                  <a href="">
                    <span>
                      <i class="far fa-meh"></i>
                      공감하기
                    </span>
                  </a>
                </div>
                <div class="content_input">
                  <form id="paper" method="get" action="">
                    <textarea placeholder="일기 내용" id="text" name="text" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 400px; "></textarea>
                    <br>
                  </form>
                </div>
              </div>
            </div>
            <div class="exdi_main_common right_wrap">
              <div class="right_arrow">
                <a href="">
                  <i class="fas fa-angle-right fa-7x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="exdi_main_common list_wrap">
            <div class="add_button">
              <a href="">
                <i class="fas fa-plus fa-5x"></i>
              </a>
            </div>
            {% for category in category %}
            <div class="list_icon">
              <a href="{% url 'exdiary' id=category.id%}">
                <i class="fas fa-book fa-5x"></i>
              </a>
            </div>
            <div class="list_name">{{category.title}}</div>
            {% endfor %}
          </div>
        </div>
      </main>

      <footer>
        <div class="footer_wrap">
          <div class="footer_icons clearfix">
            <br>
            <br>
            <br>
            <br>
            <br>
            <span class="footer_c">© 2018 LANDI</span>
            <br>
            <br>
            <br>
          </div>
        </div>
      </footer>
    </div>
  </div>
  </body