{% load static %}
<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>내 일기장</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
</head>

<body>
  <div class="wrap">
    <header>
      <div class="header_wrap clearfix">
        <div class="logo">LANDI</div>
        <div class="menu">
          <div class="menu_content clearfix">
            <div class="mydiary">
              <a href="">내 일기장</a>
            </div>
            <div class="pick">
              <a href="">뜯어온 일기장</a>
            </div>
            <div class="exchange">
              <a href="#">교환 일기장</a>
            </div>
            <div class="setup">
              <a href="">설정</a>
            </div>
            <div class="logout">
              <a href="">로그아웃</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="main_footer_wrap">
      <main>
        <div class="main_wrap">
          <div class="left_arrow_wrap main_common">
            <a href="">
              <i class="fas fa-angle-left fa-7x"></i>
            </a>
          </div>

          <!-- MAIN DIARY FORM -->
          <div class="diary_wrap main_common">
            {% for diary in diary %}
            <div class="title_input clearfix">
              <label for="inp" class="inp">
                <input type="title" id="inp" placeholder="&nbsp;">
                <span class="label">{{diary.title}}</span>
                <span class="border"></span>
              </label>
              <!-- 제목 : <input type="title" name="title"> -->
              <div class="view_mydiary_category_wrap">
                <span>
                  #내 일기장
                </span>
                <span>
                  #
                  <i class="far fa-meh"></i>
                </span>
                <span>
                  #
                  <i class="fas fa-sun"></i>
                </span>
              </div>
            </div>

            <div class="date_input">
              날짜 : {{diary.published_date}}
            </div>

            <div class="image_input">
            </div>

            <div class="view_mydiary_func">
              <a href="{% url 'EditDiary' id=diary.id %}">
                <span>
                  <i class="far fa-edit"></i>
                  수정하기
                </span>
              </a>
              <a href="">
                <span class="view_comment">
                  <i class="far fa-comment-alt"></i>
                  댓글 보기
                </span>
              </a>
              <a href="">
                <span>
                  <i class="fas fa-eraser"></i>
                  지우기
                </span>
              </a>
            </div>


            <div class="content_input">
              <textarea placeholder="{{diary.content}}" id="text" name="text" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 400px; "></textarea>
              <br>
            </div>
            {% endfor %}

            <div >
              <a href="{% url 'WriteDiary' %}">
                <span class="glyphicon glyphicon-plus">일기 쓰기</span>
              </a>
            </div>
            
          </div>

          <div class="right_arrow_wrap main_common">
            <a href="">
              <i class="fas fa-angle-right fa-7x"></i>
            </a>
          </div>

        </div>
      </main>

      <footer>
        <div class="footer_wrap">
          <div class="footer_icons clearfix">
            <br>
            <br>
            <br>
            <br>
            <br>
            <span class="footer_c">© 2018 LANDI</span>
            <br>
            <br>
            <br>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>