{% load static %}
<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>일기 쓰기</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <script type="text/javascript">
    /**
    * 내용 라인수에 맞추어 자동으로 textarea의 높이를 결정한다
    * @ obj                <textarea>의 object : this
    * @ limit                      최대 높이 제한(픽셀)
    */
    function autoTextarea(obj, limit) {
      obj.style.height = "100px";
      obj.style.height = (70 + obj.scrollHeight) + "px";
      console.log(obj.value.length);
      if (obj.value.length > limit) {
        alert("일기는 최대 2000자 까지만 작성가능해요 :'(");
        obj.value = obj.value.substring(0, limit);
        obj.focus();
      }
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      var i = 0;
      var color = ["red", "black"];
      var backgound = ["white", "white"];
      $(".icon").click(function () {
        $(this).css("color", color[i]);
        $(this).css("background", backgound[i]);
        i++;
        if (i == 2) { i = 0 };
      });
    });
  </script>
</head>

<body>
  <div class="wrap">
    <header>
      <div class="header_wrap clearfix">
        <div class="logo">LANDI</div>
        <div class="menu">
          <div class="menu_content clearfix">
            <div class="mydiary">
              <a href="">내 일기장</a>
            </div>
            <div class="pick">
              <a href="">뜯어온 일기장</a>
            </div>
            <div class="exchange">
              <a href="">교환 일기장</a>
            </div>
            <div class="setup">
              <a href="">설정</a>
            </div>
            <div class="logout">
              <a href="">로그아웃</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="main_footer_wrap">

      <main>
        <div class="main_wrap">
          <div class="diary_wrap">
            <form method="POST">
              {% csrf_token %}
              <div class="title_input clearfix">
                <label for="title" class="inp">
                  <input id="title" type="text" name="title" placeholder="&nbsp;" value="{{post.title}}" maxlength="100" required>
                  <span class="label">일기 제목</span>
                  <span class="border"></span>
                </label>
                <!-- 제목 : <input type="title" name="title"> -->
                <span class="category_wrap">
                  <select name="category">
                    <option value="">교환 일기장선택</option>
                    <option value="그룹1">그룹1</option>
                    <option value="그룹2">그룹2</option>
                    <option value="그룹3">그룹3</option>
                  </select>
                </span>
                <input type="text" name="category" value="{{post.category}}">
              </div>
              <div class="date_input">
                날짜 :
                <span>2018년 </span>
                <span>7월 </span>
                <span>28일</span>
              </div>
              <div class="image_input">
                <!-- <input type="submit" value="등록" class="upload"> -->
                <i class="fas fa-camera-retro">
                  <input type="file" value="파일 업로드" class="upload"> </i>

              </div>
              <div class="emotion_input">
                감정 :
                <input type="text" name="emotion" value="{{post.emotion}}">
                <i class="far fa-meh icon"></i>
                <i class="far fa-kiss-wink-heart icon"></i>
                <i class="far fa-surprise icon"></i>
                <i class="far fa-laugh icon"></i>
              </div>
              <div class="weather_input">
                날씨 :
                <input type="text" name="weather" value="{{post.weather}}">
                <i class="fas fa-sun icon"></i>
                <i class="fas fa-umbrella icon"></i>
                <i class="fas fa-snowflake icon"></i>
                <i class="fas fa-cloud icon"></i>
              </div>

              <div class="content_input">
                <textarea placeholder="일기 내용" onkeyup="autoTextarea(this,2000)" id="text" name="content" rows="4" style="word-wrap: break-word; resize: none; height: 100px; "> {{post.content}} </textarea>
                <br>
              </div>

              <div class="diary_submit_button">

              </div>
              <input type="text" name="anonymous">
              <button type="submit" class="save btn btn-default">SAVE</button>
            </form>
          </div>
        </div>
      </main>

      <footer>
        <div class="footer_wrap">
          <div class="footer_icons clearfix">
            <br>
            <br>
            <br>
            <br>
            <br>
            <span class="footer_c">© 2018 LANDI</span>
            <br>
            <br>
            <br>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>