@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
/*----------------------------------main------------------------------*/		
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.header_wrap {
	height: 56px; 
	font-family: 'Hanna', serif;
}
.logo, .menu_content {
	float: left;
}
.logo {
	width: 180px;
	height: 80px;
	font-size: 35pt;
	padding-left: 140px;
	padding-top: 2px;
	color: #AE5E1A;
}
.menu {
	float: right;
	width: 550px;
}
.menu_content {
	width: 770px;
	height: 40px;
	float: right;
	/*opacity: 0.8;*/
	font-weight: 600;
	font-size: 14pt;
	padding-top: 16px;
	padding-right: 20px;
}
.mydiary, .pick, .exchange, .setup, .logout {
	float: left;
	margin-left: 56px;
}
.main_wrap {
	padding-top: 75px;
	padding-left: 140px;
	padding-right: 140px;
	background-color: #F7F7F7;
}
.footer_wrap {
	width: 100%;
	text-align: center;
	font-family: 'Hanna', sans-serif;
	background-color: #F7F7F7;
}
.footer_c {
	font-size: 10pt;
	color: #c8c8c8;
}

.main_footer_wrap{
	background-color: #F7F7F7;
}

.menu_highlight{
  font-weight: bold;
  font-size: 33px;
}
/*----------------------------------new_main------------------------------*/
.header_background_wrap{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 56px;
  background-color: white;
}
.new_header_wrap {
  height: 56px;
  width: 80%;
  margin: auto;
  font-family: 'Hanna', sans-serif;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.new_logo{
  float: left;
  width: 15%;
  font-size: 35pt;
  color: #AE5E1A;
  padding-top: 5px;
}
.blank_div{
  float: left;
  width: 30%;
  border: solid 2px white;
}
.new_menu{
  float: left;
  width: 55%;
  height: 56px;
  font-size: 14pt;
  font-weight: 500;
}
.new_write, .new_mydiary, .new_pick, .new_exchange, .new_setup, .new_logout {
  float: left;
  margin-left: 6.36%;
  margin-top: 2.5%;
}
.calendar{
  border: double rgb(185, 0, 0);
  border-radius: 5px;
}
.calendar_prev{
  text-align: center;
  background-color: #fffff0;
  border-right-color: #fffff0;
  border-top-left-radius: 7px;
}
.calendar_year_month{
  text-align: center;
  height: 150px;
  background-color: #fffff0;
  border-right-color: #fffff0;
  font-size: 40px;
}
.calendar_next{
  text-align: center;
  background-color: #fffff0;
  border-right: solid white;
}
.main_calendar {
  border-collapse: collapse;
  width:100%;
}
.calendar_weekday{
  text-align: center;
  border-right-color: #f7f7f7;
}
.main_calendar tr:nth-child(1){
  border-top: solid #fffff0;
  border-bottom-color: #fffff0;
}
.main_calendar tr:nth-child(2){
  border-bottom-color: #f7f7f7;
  height: 60px;
  font-size: 22px;
}
.main_calendar tr:nth-child(3){
  background-color: #eee;
  border-bottom-color: #eee;
  border-right-color: #eee;
  text-align: center;
  font-size: 23px;
  height: 100px;
  vertical-align: top;
}
.main_calendar tr:nth-child(4){
  background-color: #eee;
  border-bottom-color: #eee;
  border-right-color: #eee;
  text-align: center;
  font-size: 23px;
  height: 100px;
  vertical-align: top;
}
.main_calendar tr:nth-child(5){
  background-color: #eee;
  border-bottom-color: #eee;
  border-right-color: #eee;
  text-align: center;
  font-size: 23px;
  height: 100px;
  vertical-align: top;
}
.main_calendar tr:nth-child(6){
  background-color: #eee;
  border-bottom-color: #eee;
  border-right-color: #eee;
  text-align: center;
  font-size: 23px;
  height: 100px;
  vertical-align: top;
}
.main_calendar tr:nth-child(7){
  background-color: #eee;
  border-right-color: #eee;
  border-bottom: solid #eee;
  text-align: center;
  font-size: 23px;
  height: 100px;
  vertical-align: top;
}
.main_calendar tr:nth-child(8){
  background-color: #eee;
  border-right-color: #eee;
  border-bottom: solid #eee;
  text-align: center;
  font-size: 23px;
  height: 100px;
  vertical-align: top;
}


.main_calendar td:nth-child(1){
  border-left: double white;
}
.main_calendar td:nth-child(7){
  border-right: double white;
}
.calendar_cell{
  background-color: #B90000;
  width: 20%;
  margin: auto;
  border-radius: 30px;
  color: white;
}
.calendar_label{
  font-size: 40px;
}
.calendar_a_tag_example{
  font-size: 16px;
}
/*----------------------------------login------------------------------*/
.login_nav{
	float: right;
	margin-top: 0.3%
}

.login_wrap{
	text-align: center;
}

.login_background{
	padding: 5% 25px;
	margin-bottom: 20px;
  	width: 50%;
  	background: #fffff0;
  	text-align: center;
  	border-radius: 10px;
  	margin-right: auto;
  	margin-left: auto;
  	border-style: double;
  	border-radius: 15px;
  	border-color: #B90000;
}

.login_input_wrap{
	text-align: right;
}

.login_each_wrap{
	font-family: 'Hanna', serif;
	font-size: 20px;
}

.login_input{
	padding: 10px 25px 10px;
	width: 60%;
	margin: 5px;
	margin-right: 10%;
	border-radius: 10px;
}

.login_submit_div{
	text-align: center;
	height: 20%;

}

.login_submit{
	padding:5px 10px 5px;
	border-radius: 10px;
	font-family: 'Hanna', sans-serif;
	font-size: 15px;
	color: white;
	background: #8A0829;
}

.recommand_logup{
	margin-top: 3%;
}

.logup_a{
	color: #8A0829;
}

/*----------------------------------write_diary------------------------------*/
.write_write, .write_mydiary, .write_pick, .write_exchange, .write_setup, .write_logout {
  float: left;
  margin-left: 5.12%;
  margin-top: 2.5%;
}
.date_input{
	font-size:30px;
  float: right;
  margin-top: 10px;
}
.emotion_input{
	font-size: 30px;
  margin-top: 10px;
}
.weather_input{
	font-size: 30px;
}
.write_diary_image_input{
	height: 400px;
	border: solid 2px black;
	border-style: dashed;
	margin-bottom: 10px;
	margin-top: 10px;

	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.writediary_emotion_icon, .writediary_weather_icon{
  padding-right: 10px;
}
.emoticon_input:hover {
	background: rgba(34,50,84,0.03);
}
.diary_wrap{
	padding: 5% 25px;
	margin-bottom: 20px;
    width: 70%;
    background: white;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px;
}
.title_input{
	font-size: 25px;
}
.category_wrap{
	float: right;
}

button.replace {  
  position: absolute;
  width: 51%;
  height: 54%;
  border-radius: 3px;
  font-size: 60px;
  border:solid 2px white;
  cursor: pointer;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 25px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: 'Hanna', serif;
  padding: 12px 0;
  height: 10px;
  font-size: 25px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
  margin-bottom: 5px;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}
#paper {
  color: #fff;
  font-size: 20px;
}
#text {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  color: #222;
  font-family: 'Nanum Pen Script', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top:10px;
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
  url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat: repeat-y, repeat;
}
.diary_submit_button_wrap {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.diary_submit_button{
  font-family: 'Nanum Pen Script', serif;
  font-size: 20px;
  width: 100px;
  background-color: #AE5E1A;
  color: white;
  padding: 12px 0;
  cursor: pointer;
  outline:none;
  border: none;
}
input[type=checkbox]{
  display:none;
  }
  .emotion_happy input[type=checkbox] + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/happy.png') left/30px no-repeat; 
  }
  .emotion_happy input[type=checkbox]:checked + label{
   background-image: url('../img/happy_color.png');
 }
 .emotion_love input[type=checkbox] + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/love.png') left/30px no-repeat; 
  }
  .emotion_love input[type=checkbox]:checked + label{
   background-image: url('../img/love_color.png');
 }
  .emotion_angry input[type=checkbox] + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/angry.png') left/30px no-repeat; 
  }
  .emotion_angry input[type=checkbox]:checked + label{
   background-image: url('../img/angry_color.png');
 }
  .emotion_crying input[type=checkbox] + label{ 
      display: inline-block; 
      cursor: pointer; 
      line-height: 30px; 
      padding-left: 30px; 
      background: url('../img/crying.png') left/30px no-repeat; 
    }
  .emotion_crying input[type=checkbox]:checked + label{
   background-image: url('../img/crying_color.png');
 }
 .emotion_serious input[type=checkbox] + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/serious.png') left/30px no-repeat; 
  }
  .emotion_serious input[type=checkbox]:checked + label{
   background-image: url('../img/serious_color.png');
 }
  .emotion_sleepy input[type=checkbox] + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/sleepy.png') left/30px no-repeat; 
  }
  .emotion_sleepy input[type=checkbox]:checked + label{
   background-image: url('../img/sleepy_color.png');
 }
  .weather_sunny input[type=checkbox] + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/sunny.png') left/30px no-repeat; 
  }
  .weather_sunny input[type=checkbox]:checked + label{
   background-image: url('../img/sunny_color.png');
 }
 .weather_umbrella input[type=checkbox] + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/umbrella.png') left/30px no-repeat; 
  }
  .weather_umbrella input[type=checkbox]:checked + label{
   background-image: url('../img/umbrella_color.png');
 }
  .weather_cloud input[type=checkbox] + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/cloud.png') left/30px no-repeat; 
  }
  .weather_cloud input[type=checkbox]:checked + label{
   background-image: url('../img/cloud_color.png');
 }
 .weather_snow input[type=checkbox] + label{ 
    display: inline-block; 
    cursor: pointer; 
    line-height: 30px; 
    padding-left: 30px; 
    background: url('../img/snow.png') left/30px no-repeat; 
  }
  .weather_snow input[type=checkbox]:checked + label{
   background-image: url('../img/snow_color.png');
 }
/*----------------------------------register------------------------------*/

.register_input_wrap{
	padding: 2% 25px;
	margin-bottom: 20px;
    width: 50%;
    background: white;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px;
}
.register_title{
	margin-bottom: 50px;
	padding-bottom: 5%;
	padding-top: 5%;
	text-align: center;
	background-color: #AE5E1A;
	font-size: 30px;
	color: white;
}

.inp_reg {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp_reg .label {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 20px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp_reg .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp_reg input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: 'Hanna', serif;
  padding: 14px 0;
  height: 10px;
  font-size: 27px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
  margin-bottom: 35px;
}

.inp_reg input:hover {
  background: rgba(34,50,84,0.03);
}
.inp_reg input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp_reg input:focus {
  background: none;
  outline: none;
}
.inp_reg input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}
.inp_reg input:focus + span + .border {
  transform: scaleX(1);
}


/*----------------------------------my_diary_view------------------------------*/
.mydiary_write, .mydiary_mydiary, .mydiary_pick, .mydiary_exchange, .mydiary_setup, .mydiary_logout{
    float: left;
    margin-left: 5.06%;
    margin-top: 2.5%;
}
.main_common{
	display: inline-block;
}
.view_mydiary_title{
  border-bottom: solid 2px black;
  margin-bottom: 2%;
}
.left_arrow_wrap{
	width: 15%;
	float: left;
	margin-top: 400px;
}
.right_arrow_wrap{
	width:3%;
	float: right;
	margin-top: 400px;
}
.mydiary_date_input{
	font-size:25px;
}
.image_input{
	height: 400px;
	border: solid 2px black;
	border-style: dashed;
	margin-bottom: 10px;
	margin-top: 10px;
}
.diary_wrap{
	padding: 5% 25px;
	margin-bottom: 20px;
    width: 70%;
    background: white;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px;
}
.title_input{
	font-size: 25px;
}
.view_mydiary_category_wrap{
	float: left;
	font-size:25px;
	width: 100%;
}
.view_mydiary_func{
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
.view_mydiary_wrap{
    padding: 4% 25px;
    margin-bottom: 20px;
    width: 70%;
    background: white;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px;
}
.mydiary_comment{
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png);
}
.comment_area{
  background-color: #FAFAD2;
  height: 400px;
  width: 85%;
  margin-top: 15px;
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png)
}
.my_diary_emotion_img{
  margin-left: 10px;
}
/*----------------------------------pick_diary------------------------------*/
.pick_write, .pick_mydiary, .pick_pick, .pick_exchange, .pick_setup, .pick_logout{
    float: left;
    margin-left: 4.44%;
    margin-top: 2.5%;
}
.otherdiary_emotion_icon{
  padding-right: 5px;
}
.pick_diary_date_input{
  font-size:30px;
  margin-top: 10px;
}
.pick_diary_image_input{
  height: 400px;
  border: solid 2px black;
  border-style: dashed;
  margin-bottom: 10px;
  margin-top: 10px;

  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pickdiary_emotion_img{
  margin-left: 10px;
}
/*----------------------------------exchange_diary_view------------------------------*/
.exchange_write, .exchange_mydiary, .exchange_pick, .exchange_exchange, .exchange_setup, .exchange_logout{
    float: left;
    margin-left: 4.76%;
    margin-top: 2.5%;
}

.exdi_main_common{
	display: inline-block;
	height: auto;
  padding-top: 65px;
}
.total_left_wrap{
	float: left;
	width: 80%;
	margin-left: 2%;
}
.left_wrap{
	float: left;
	width: 10%;
	height: 1200px;
}
.left_arrow{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.right_wrap{
	float: right;
	width: 10%;
	height: 1200px;
}
.right_arrow{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.feed_wrap{
	padding: 2% 5%;
  width: 80%;
}
.feed{
	width: 100%;
	height: 400px;
}
.list_wrap{
	width: 18%;
	height: 800px;
  position: fixed;
}
.exdi_date_input{
  font-size: 25px;
  margin-top: 10px;
}
.search_button{
	padding-bottom: 5%;
	font-size: 23px;
}
.search_input{
	height: 30px;
	font-size: 20px;
  font-family: 'Nanum Pen Script', serif;
  outline: none;
}
.exdi_diary_button{
	font-size: 21px;
  font-family: 'Nanum Pen Script', serif;
  width: 70px;
  background-color: #AE5E1A;
  color: white;
  padding: 3px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
}
.add_button{
	margin-top: 10%;
	margin-bottom: 10%;

}
.exdi_diary_wrap{
	display: inline-block;
	padding: 5% 25px;
	margin-bottom: 20px;
    width: 100%;
    background: white;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px;
}
.list_icon, .add_button{
	display: flex;
	justify-content: center;
	font-size: 11px;
  padding-left: 20%;
}
.list_name{
	margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-left: 20%;
}
.user_input{
	font-size: 25px;
	color: #AE5E1A;
}
.exchange_diary_func{
	display: flex;
	justify-content: space-between;
	font-size: 25px;
}
.main_exdi_title{
	margin-bottom: 2%;
}
.exdi_title{
	border-bottom: solid 2px black;
}
.exdi_time{
	float: right;
	width: 100%;
	text-align: right;
	padding-top: 2%;
	padding-bottom: 2%;
	color: red;
}
.comment_input_wrap{
  display: flex;
  justify-content: center;
}
.comment_input{
  background-color: #FAFAD2;
  height: 400px;
  width: 85%;
  margin-top: 15px;
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png)
}
.write_comment{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.write_comment input[type="text"]{ 
  width: 70%;
  padding: .8em .5em; 
  font-family: 'Nanum Pen Script', serif;
  font-size: 20px;
  border-radius: 10px;
  outline-style: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
}
.comment_button{
  width: 54px;
  background: none;
  border: none; 
  border: solid 2px black;
  border-radius: 50px;
  margin-left: 10px;
  outline: none;
  font-size: 10px;
}
.exchange_diary_emotion_img{
  margin-left: 10px;
}
/*----------------------------------exchange_diary_make---------------------------------*/
.make_div_wrap{
  padding: 8% 25px;
  padding-top: 10%;
  margin-bottom: 20px;
  margin-top: 65px;
  width: 50%;
  background: url('../img/notebook.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Hanna', serif; 
}

.title_wrap{
  font-size: 35px;
  letter-spacing: 5px;
  word-spacing: 10px;
  margin-bottom: 10%;
}

.note_wrap{
  margin-top: 10%;

}

.name_wrap{
  font-size: 23px;
  padding: 15px;
}

.name_input{
  font-family: 'Nanum Pen Script', serif;
  font-size: 22px;
  height: 40px;
  padding: 3% 10%;
  margin: 1%;
  outline: none;
  text-align: center;
  border-radius: 10px;
  border:none;
}

.detail_wrap{
  font-size: 20px;
  padding: 15px;
}

.detail_input{
  font-family: 'Nanum Pen Script', serif;
  font-size: 20px;
  height: 25px;
  padding: 3% 5%;
  margin: 1%;
  outline: none;
  border-radius: 10px;
  border:none;
}

.secret_anonymous_span{
  margin-right: 2%;
  font-size: 20px;
  font-family: 'Hanna', serif;
}

.secret_wrap{
  padding: 2%;
  margin: 1%;
  font-family: 'Nanum Pen Script', serif;
}

.anonymous_wrap{
  padding: 2%;
  margin: 1%;
  font-family: 'Nanum Pen Script', serif;
}

.submit_btn{
  margin-top: 8%;
  margin-bottom: 3%;
  border-radius: 10px;
  font-family: 'Hanna', serif;
  font-size: 30px;
  background: #AE5E1A;
  outline: none;
  width: 200px;
  color: white;
  padding: 12px 0;
  border: none;
}

/*----------------------------------setting---------------------------------*/
.setup_write, .setup_mydiary, .setup_pick, .setup_exchange, .setup_setup, .setup_logout{
    float: left;
    margin-left: 5.75%;
    margin-top: 2.5%;
}

.setting_wrap{
  padding-top: 65px;
}

.setting_background{
  padding: 5% 25px;
  margin-bottom: 20px;
  width: 70%;
  background: #fffff0;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  border-style: double;
  border-radius: 15px;
  border-color: #B90000;
}

.setting_content_wrap{
  text-align: left;
  padding-left: 5%;
}

.setting_content_each{
  line-height: 50px;
}

.setting_each_title{
  text-align: right;
  padding-right: 5%;
  font-family: 'Hanna', sans-serif;
  font-size: 25px;
  color: #B90000;
  width: 30%;
  float: left;

}

.setting_each_detail{
  font-family: 'Nanum Pen Script', serif;
  font-size: 25px;
}

.setting_input{
  height: 30px;
  font-size: 18px;
  font-family: 'Nanum Pen Script', serif;
  outline: none;
}

.setting_explain{
  text-align: center;
  font-size: 20px;
}

.setting_submit{
  text-align: center;
  
}

.setting_submit_btn{
  margin-top: 3%;
  padding:5px 15px 5px;
  border-radius: 10px;
  font-family: 'Hanna', sans-serif;
  font-size: 30px;
  background: #AE5E1A;
  outline: none;
  width: 150px;
  color: white;
  padding: 12px 0;
}

/*--------------------------exchange_diary_search---------------------------------*/

.exdi_search_wrap{
	margin:auto;
	width: 60%;
	height:auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

.each_search_wrap{
	border: solid 2px black;
	width: 99%;
	margin: auto;
	height:200px;
	border-radius: 10px;
	margin-bottom: 2%;
	padding: 2% 2%;
	background-color: white;
}

.username_wrap{
	margin-bottom: 10%;
}
.diary_name_wrap{
	font-size: 45px;
  width: 100%;
  color: #B90000;
  font-family: 'Hanna', serif;
  margin: 5%;
}
.diary_detail_wrap{
  margin-left: 5%;
  font-size: 25px;
  font-family: 'Nanum Pen Script', serif;
  margin-top: 0%;
  width:70%;
}
.search_left_wrap{
	float: left;
  width: 70%;
}
.search_right_wrap{
  font-family: 'Hanna', serif;
	float: right;
	width: 30%;
	height: 90%;
	display: table;
	justify-content: center;
	align-items: center;
	font-size:100px;
  text-align: center;
}

.search_enter_btn{
  font-size:30px;
  margin-top:5%;
  border: 1px solid #AE5E1A;
  border-radius: 3px;
  padding:5px;
  color:white;
  background-color:#B90000;
}

/*--------------------------댓글 table 속성---------------------------------*/
.comment_table{
  border-collapse: collapse;
  width: 650px;
  height: 80px;
  background-color: #FAFAD2;
  margin-top: 15px;
}
.row{
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png);
}
.nickname{
  width: 15%;
  text-align: center;
}
.view_diary_comment_func{
  width: 5%;
}
.exchange_diary_comment_func{
  margin-top: 14%;
  display: flex;
  justify-content: center;
}
.view_diary_comment_func_button{
  background-color: white;
  cursor: pointer;
  outline:none;
  border: none;
  font-size: 14px;
  background-color: #FAFAD2;
}
.exchange_diary_comment_func_button{
  background-color: white;
  cursor: pointer;
  outline:none;
  border: none;
  font-size: 15px;
  background-color: #FAFAD2;
}
.edit_img{
  width: 100%
  height: 100%;
}
.comment_content_real{
  width:75%;
}
.css_cancle_btn{
  width: 40px;
  font-size: 17px;
  border: 0;
  border-radius: 5px;
  font-family: 'Nanum Pen Script', serif;
  margin-left: 5px;
  outline: none;
}
.css_update_btn{
  font-family: 'Nanum Pen Script', serif;
  width: 40px;
  font-size: 17px;
  border: 0;
  border-radius: 5px;
  margin-right: 1%;
  outline: none;
}
/*--------------------------tag selector들---------------------------------*/

select {
    width: 220px;
    height: 30px;
    font-size: 18px;
    color: #AE5E1A;
    border: 1px solid #AE5E1A;
    border-radius: 3px;
    font-family: 'Nanum Pen Script', serif;
    text-align-last: center;
    outline: none;
}


body{
  font-family: 'Nanum Pen Script', serif;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}

a {
  color: black;
  text-decoration: none;
}
a:hover{color: #B90000;}
button{
  background-color: #f7f7f7;
  cursor: pointer;
  outline:none;
  border: none;
}
.write_diary_img_button{
  background-color: white;
  cursor: pointer;
  outline:none;
  border: none;
}
/*----------------------------------js처리를 위한----------------------------------*/
.hiddendiv{
  display:none;
}
.visiblediv{
  display:block;
}

.aaa{
  background-image: url(img/edit.png);
}
.edit_comment_class{
  font-family: 'Nanum Pen Script', serif;
  width: 85%;
  padding: .5em .5em; 
  font-size: 13px;
  border-radius: 10px;
  outline-style: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
}

